/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2022, 11:30:08 AM
    Author     : Luu Duc Thang
*/

.container{
    display:flex;
    justify-content: center;
    position: relative;
}
.container img{
    width: 60%;
}
.btn-back{
    position: absolute;
    top: 80%;
    left: 46%;
    background-color: #4631ba57;
    padding: 10px;
    border-radius: 18px;
    /* color: white; */
    border: 1px solid #4646a7de;
}
.btn-back a{
    text-decoration: none;
    color:#0032ff;
    ;
} 