/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2022, 12:12:36 AM
    Author     : Admin
*/
.list-group{
    width: 400px !important;
}
.list-group-item{
    margin-top:10px;
    border-radius: none;
    background: #5E35B1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.list-group-item:hover{
    transform: scaleX(1.1);
}
.check{
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.list-group-item:hover .check {
    opacity: 1;
}
.about span{
    font-size: 12px;
    margin-right: 10px;
}
input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    border: 1px solid #10a3f9;
    border-radius: 3px;
    background-color: white;

}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
input[type="checkbox"]:checked + .check {
    opacity: 1;
}
.row {
    margin-left: 5%;
    margin-bottom: 2%;
    height: 150px;
    border-radius: 10px;
    background-size: 100%;
}
.detail{
    font-weight:500 ;
    word-spacing: 2px;
    font-size: 18px;
}

