  .date{
    width: 135px;
}
#table{
    cursor: pointer;
}
#table th.sort-column::after{
    content: "\21F5";
    margin-left: 5px;
}
#table th.sort-column-asc::after{
    content: "\25B2";
    margin-left: 5px;
}
#table th.sort-column-desc::after{
    content: "\25BC";
    margin-left: 5px;
} 