/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 30, 2022, 1:02:11 AM
    Author     : Admin
*/

h1,h2,h3,h4,h5,h6{
    color: #fff !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 1rem !important;
    color: #C0C0C0 !important;
}
p{
    color: #fff !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 1rem !important;
    color: #C0C0C0 !important;
}

